.container-total {
  margin: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.Button {
  width: 200px;
  margin: 0 auto;
  height: 30px;
  margin-top: 10px;
}

.totalquantity {
  text-align: center;
  margin-top: 40px;
}

.Productos {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  font-size: 25px;
  color: crimson;
  text-decoration: underline;
  padding: 5px;
  transition: 0.5s;
}


.button {
  margin-top: 10px;
  color: #222;
  font-weight: bold;
  width: 12em;
  height: 3em;
  border-radius: 30em;
  font-size: 15px;
  cursor: pointer;
  font-family: inherit;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.button::before {
  content: "";
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #be3e3e 0%, #c21b1b 100%);
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

.button:hover::before {
  width: 12em;
}
.button:hover {
  color: white;
}
