.Form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    background-color: rgb(194, 40, 71);
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    color: rgb(231, 231, 231);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.form__group{
    margin-top: 3em;
}

.form__input{
    width: 100%;
    background: none;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    padding: .6em .3em;
    outline: none;
    border-bottom: 1px solid;
}

.ButtonSubmit {
    width: 150px;
    height: 50px;
    border-radius: 50px;
    background-color: transparent;
    border: 2px solid #000814;
    overflow: hidden;
    position: relative;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    transition: 300ms ease;
    font-weight: bold;
    cursor: pointer;
  }
  
  .ButtonSubmit::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #ffffff;
    top: 100%;
    left: 0;
    transition: 500ms ease;
  }
  
  .ButtonSubmit:hover {
    color: #000000;
    letter-spacing: 3px;
  }
  
  .ButtonSubmit:hover::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  