.CardItem {
    text-align: center;
    background-color: pink;
    border: solid 1px rgb(193, 193, 193);
    border-radius: 30px;
    padding: 15px;
    margin: 15px;
    display: flex;
    flex-direction: column;
}



.Header {
    padding: 10px;
}

.ItemImg {
    width: 170px;
}

.ListGroup {
    display: flex;
    justify-content: space-around;
}

.Info {
    margin: 25px;
}

.Option {
    background-color: rgb(245, 138, 245);
    padding: 12px;
    font-size: 15px;
    text-align: center;
    color: white;
    font-weight: bold;
    border: rgb(245, 138, 245);
    border-radius: 10px;
    text-decoration: none;
}

.divPadre {
    height: 100vh;
    position: relative;
}

.divHijo {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

.linkto {
    text-decoration: none;
}
.spinner{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 300px;
}

