
.navbar {
    background-color: pink;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
}

.navbar-list {
    display: flex;
    list-style-type: none;

}

.nav-item{
    display: inline-block;
    margin: 0 25px;
    transition: 0.2s;
    
}

.nav-item:hover{
    transform: scale(1.1);
  
}

.nav-link {
    text-decoration: none;
    font-size: 18px;    
    color: white;
    transition: 0.2s;

}
.nav-link:hover,
.nav-link.active{
    color: black;
    
}



.logo {
    width: 60px;
}

