.contenedorcart{
display: flex;
justify-content: space-around;
background-color: #dad7d7;
align-items: center;
height: 120px;
margin: 30px;
color: white;
border-radius: 20px;
font-size: 20px;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}