* {
  box-sizing: border-box;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.App {
  text-align: center;
}

.container-lista {
  background-color: #943164;
  display: flex;
  justify-content: space-around;
}

.lista {
  list-style-type: none;
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.lista a {
  text-decoration: none;
  color: white;
}

.containercart {
  display: flex;
  align-items: center;
}

.saludo {
display: block;

}