* {
  box-sizing: border-box;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}



.container-lista {
  background-color: #943164;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}

.lista {
  list-style-type: none;
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.lista a {
  text-decoration: none;
  color: white;
  transition: 0.5s;
  margin: 10px;
}
.lista a:hover{
  color: rgb(255, 122, 240);
}
.containercart {
  display: flex;
  align-items: center;
}

.saludo {
margin-top: 60px;
text-align: center;
letter-spacing: 7px;
}

