.container-contador {

    background-color: pink;
    color: rgb(0, 0, 0);
    height: 200px;
    text-align: center;
    display: grid;
    place-content: center;
    width: 30%;
    margin: 0 auto;
   
    border-radius:  45px ;
   
   
}
.botones{
    display: flex;
    justify-content: center;
    
}

.boton {

    background-color: rgb(245, 138, 245);
    padding: 12px;
    font-size: 15px;
    text-align: center;
    color: white;
    font-weight: bold;
    border: rgb(245, 138, 245);
    border-radius: 10px; 
    text-decoration: none;
    cursor: pointer;
}

.boton:hover {
    background: rgb(175, 175, 175);
}

.addcart {
    background-color: rgb(245, 138, 245);
    padding: 12px;
    font-size: 15px;
    text-align: center;
    color: white;
    font-weight: bold;
    border: rgb(245, 138, 245);
    border-radius: 10px; 
    text-decoration: none;
    cursor: pointer;

}

span {
    background-color: #943164;
}

.addcart span {
    position: absolute;
    background-color: #fff;
    transition: 0.5s;
}

button span:nth-child(1) {
    width: 100%;
    height: 1px;
    top: 0;
    left: -100%;

}

button span:nth-child(2) {
    width: 100%;
    height: 1px;
    bottom: 0;
    right: -100%;
}

button span:nth-child(3) {
    width: 1px;
    height: 100%;
    bottom: -100%;
    left: 0;
}

button span:nth-child(4) {
    width: 1px;
    height: 100%;
    top: -100%;
    right: 0;
}

button:hover span:nth-child(1) {
    left: 0;
}

button:hover span:nth-child(2) {
    right: 0;
}

button:hover span:nth-child(3) {
    bottom: 0;
}

button:hover span:nth-child(4) {
    top: 0;
}