.container-contador {

    color: rgb(0, 0, 0);
    text-align: center;
    width: 30%;
    margin: 0 auto;
    border-radius: 45px;


}

.botones {
    display: flex;
    justify-content: center;
}

.boton {
    margin-left: 5px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    border: solid transparent 10px;
    height: 2rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: transparent;
    margin-right: 5px;
}



.addcart {
    margin-top: 5px;
    background-color: crimson;
    padding: 12px;
    font-size: 15px;
    text-align: center;
    color: white;
    font-weight: bold;
    border: rgb(245, 138, 245);
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s;

}

.addcart:hover {
    background-color: #222;
    color: crimson;
}


span {
    background-color: #943164;
}

.addcart span {
    position: absolute;
    background-color: #fff;
    transition: 0.5s;
}

